# Allgemein
__pycache__


#Virtuelle Umgebung
/env
/.vscode
/.vs


# Alle Dateien im models-Ordner ignorieren
/models/* 

# Verzeichnisse
#/datasets/*

# TensorRT
/TensorRT/build*
*.wts
*.engine
*.pt
*.onnx

# Ultralytics
/runs



# OpenCV
/OpenCV_DNN

# sonstige Dateien

result*
main.py
temp.py

